@use "../../scss/styles.scss" as *;
@use "../../scss/veriables.scss" as vars;
@use "../../scss/mixins.scss" as mix;




.login__bg{
    min-height: 100vh;
    background-color: vars.$brand-color;


    h1{
        color: vars.$brand-color;

    }


    .login{
        background-color: rgba(255, 255, 255, 0.6);
        padding: 60px;
        border-radius: 10px;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 150px;

    }

    form{
        display: flex;
       align-items: center;
        justify-content: center;
         flex-direction: column;
         gap: 30px;
        margin-top: 20px;
    }


    input[type='name'] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 16px;
        box-sizing: border-box;
        outline: none;
      }

      button {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: vars.$brand-color;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;

        &:hover {
          background-color:  vars.$brand-color;
        }
      }

      input[type="file"] {
        position: relative;
        width: 100%;
      }
      
      input[type="file"]::file-selector-button {
        width: 136px;
        color: transparent;
      }
      
      input[type="file"]::before {
        position: absolute;
        pointer-events: none;
        top: 7px;
        left: 16px;
        height: 20px;
        width: 20px;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23008046'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
      }
      
      input[type="file"]::after {
        position: absolute;
        pointer-events: none;
        top: 11px;
        left: 40px;
        color:  vars.$brand-color;
        content: "Upload File";
      }
      
      input[type="file"]::file-selector-button {
        border-radius: 4px;
        height: 37px;
        cursor: pointer;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.16);
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
        margin-right: 16px;
        transition: background-color 200ms;
      }
      
      input[type="file"]::file-selector-button:hover {
        background-color: #f3f4f6;
      }
      
      input[type="file"]::file-selector-button:active {
        background-color: #e5e7eb;
      }



      @media only screen and (max-width: 500px) {
        input[type="file"]::file-selector-button {
            display: flex;
            flex-direction: column;
            margin-bottom:  10px;
          }
      }
}
  



  



  

  
